---
import { Button } from "@/components/ui/button"
import { Input } from "@/components/ui/input"
import Layout from "@/layouts/Layout.astro"
import { auth } from "@/lib/auth"
import { z } from "astro:schema"


const schema = z.object({
  name: z.string().min(2).max(50),
  email: z.string().email(),
  password: z.string().min(8),
})

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData()
  const name = data.get("name") as string
  const email = data.get("email") as string
  const password = data.get("password") as string

  try {
    schema.parse({ name, email, password })
    await auth.api.signUpEmail({ body: { name, email, password } })
  } catch (error) {
    console.error(error)
  }
}
---

<Layout>
  <form action="/auth/register" method="POST">
    <h1>Register</h1>
    <Input type="text" placeholder="Name"  name="name"/>
    <Input type="email" placeholder="Email" name="email" />
    <Input type="password" placeholder="Password" name="password" />
    <Button type="submit">Register</Button>
  </form>
</Layout>